.containPage{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.904);
    height: 99.9vh;
    width: 100%;
}

.contentInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.personalInfo{
    margin-left: 70px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    user-select: none;
}

.greeting{
    font-size: 80px;
    color: #606060;
    font-family: 'Secular One';
    text-align: end;
    text-shadow: 5px 5px #558abbab;
}

.intro{
    font-size: 40px;
    font-family: 'Secular One';
    color: #606060;
    margin-right: 15px;
}

.name{
    font-size: 50px;
    font-family: 'Paytone One';
    color: #00827C;
}

.professional{
    font-size: 30px;
    font-family: 'Secular One';
    color: #606060;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 70px;

}

.btnHome{
    padding: 10px;
    background-color: #00b8af1c;
    color: #00827cda;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 20px;
    user-select: none;
}

.btnHome:hover{
    background-color: #0dcac148;
    cursor: pointer;
}

.picHome{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    user-select: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.icon{
    margin-right: 15px;
    width: 40px;
    height: 40px;
    color: rgba(128, 128, 128, 0.329);
    cursor: pointer;
}

.circle{
    position: absolute;
    background-color: transparent;
    border: 20px solid #ff9e438c;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    right: 50px;
    bottom: 120px;
}

.description{
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 18px;
    color: #606060;
}

@media (max-width: 550px){
    .containPage{
        flex-direction: column;
        height: 90vh; 
        /* 145 */
    }

    .contentInfo{
        margin-top: 80px;
    }

    .personalInfo{
        text-align: start;
        margin-left: 20px;
        width: 350px;
    }

    .greeting{
        font-size: 70px;
    }
    
    .name{
        font-size: 50px;
    }
    
    .description{
        font-size: 20px;
        font-weight: 800;
    }

    .buttons{
        margin: 0px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .picHome{
        width: 270px;
        height: 270px;
        margin: 0px;
        margin-top: 30px;
    }

    .circle{
        width: 20px;
        height: 20px;
        right: 40px;
        bottom: 35px;
    }
}