.home{
    display: flex;
    justify-content: end;
    background: url('../../images/pawel-czerwinski-fPN1w7bIuNU-unsplash.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.158);
    background-blend-mode: soft-light;
    height: 100vh;
}

.nav{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 50px;
}

.nav_container__logo{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.contentPic{
    display: flex;
    align-items: center;
    margin-right: 30px;
    
}

.picHome{
    width: 350px;
    height: 350px;
    background-color: #7B68EE;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
}

.btn_social{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 20px;
}

.introduction{
    width: 48vw;
    height: 60vh;
    align-self: center;
    margin-right: 60px;
}

.name_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
hr{
    width: 10%;
    size: 0px;
    border: 1px solid #7B68EE;
    margin: 0px;
    margin-right: 5px;
}

.name__text{
    font-family: 'Paytone One';
    color: #7B68EE;
    font-size: 18px;
}

.description_text{
    font-family: 'Poppins';
    font-size: 38px;
    font-weight: bold;
    text-align: end;
    margin: 0px;
    color: white;
}

.description_typed{
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
    color: #7B68EE;
}
.buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}

.btnHome {
  background-color: #7B68EE;
  border: 1px solid #7B68EE;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnHome:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

