.containPage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.904);
    height: 99.9vh;
    width: 100%;
}

.personalInfo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    user-select: none;
    width: 900px;
}

.greeting{
    font-size: 80px;
    color: #606060;
    font-family: 'Secular One';
    text-align: end;
    text-shadow: 5px 5px #558abbab;
}

.intro{
    font-size: 40px;
    font-family: 'Secular One';
    color: #606060;
    margin-right: 15px;
}

.name{
    font-size: 50px;
    font-family: 'Paytone One';
    color: #00827C;
}

.contentPic{
    position: absolute;
    display: flex;
    align-self: end;
}

.picHome{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    user-select: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.professional{
    font-size: 30px;
    font-family: 'Secular One';
    color: #606060;
}

.description{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 18px;
    color: #606060;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 70px;
}

.btnHome{
    padding: 10px;
    background-color: #00b8af1c;
    color: #00827cda;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 20px;
    user-select: none;
}

.btnHome:hover{
    background-color: #0dcac148;
    cursor: pointer;
}


.icon{
    margin-right: 15px;
    width: 40px;
    height: 40px;
    color: rgba(128, 128, 128, 0.329);
    cursor: pointer;
}

.circle{
    display: flex;
    position: absolute;
    background-color: transparent;
    border: 20px solid #ff9e438c;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    right: 0px;
    bottom: 50px;
}

@media screen and (min-width: 870px) and (max-width: 950px){
    .personalInfo{
        max-width: 850px;
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media screen and (min-width: 700px) and (max-width: 870px){
    .personalInfo{
        max-width: 700px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .professional{
        position: absolute;
        display: flex;
        align-self: end;
        bottom: 90px;
    }

    .description{
        position: absolute;
        display: flex;
        align-self: end;
        bottom: 70px;
    }
    
    .picHome{
        width: 400px;
        height: 400px;
    }
    .circle{
        width: 15px;
        height: 15px;
    }

    .buttons{
        margin-left: 0px;
    }
}
