.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 15px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
}

.logoNav{
    color: #606060;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: 70px;
    user-select: none;
}

span{
    margin: 10px;
    cursor: pointer;
    user-select: none;
    font-family: 'Poppins';
    font-weight: bold;
}


.active{
    color: #008d86e1;
    background-color: #1edbd23d;
    padding: 10px;
    border-radius: 10px;
}

.selectPage{
    margin-right: 80px;
}
@media (max-width: 550px) {
    .navBar{
        font-size: 18px;
    }
}